.content {
  display: flex;
  flex-direction: column;
  padding: 0 148px;
}

.content__title {
  font-weight: 900;
  font-size: 54px;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 40px;
}

.content__subtitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
  max-width: 738px;
  margin-bottom: 32px;
}

.content__autor {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
}

.content__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  max-width: 722px;
  margin-bottom: 92px;
}
